
<div class="forget-container">
  <div class="form-items">
    <form class="form-items" name="form"  (ngSubmit)="onSubmit()" #f="ngForm">
        <h3>Reset Password</h3>
        <mat-form-field class="input-forget"  appearance="fill">
          <mat-label> Email </mat-label>
          <input matInput type="email"
          name="cEmail"
          required
          [pattern]="emailPattern" 
          [ngModel]="email"
          (ngModelChange)="emailChanged($event)"
          #cEmail="ngModel"
          placeholder=" Enter your email " >
          <mat-hint></mat-hint>
          <mat-error *ngIf="cEmail.hasError('required') && !cEmail.hasError('pattern')">
            Email is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="cEmail.hasError('pattern')">
            Must be type <strong> vaild email </strong>
          </mat-error>
        </mat-form-field>

      <button class="together-item"  mat-raised-button color="primary" type="submit" [disabled]="f.invalid">
        Reset Password
      </button> 
      
      <div class="together">
        <span class="together-item" >Go back to ?
          <a class="redirect" routerLink="/sign-in">Log In</a></span>
      </div>
    </form>  
  </div>
</div>


